<!-- <header> -->
<!-- <h2>{{ title }}</h2> -->
<!-- <h2>Task Ticketing</h2> -->

<!-- <app-button text="Add" (btnClick)="toggleTask()"></app-button> -->
<!-- </header> -->

<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Learning Angular</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-button color="warn" (click)="openDialog()">Add Item +</button>
</mat-toolbar>
